compareHbaseTable{
tableName = "sks_notes:scoring"
srcConfigPath = "/Users/ms/Documents/MS/Projects/examples/hbase-client-unsecure/src/main/java/com/ms/resources/hbase-site.xml"
  peerConfigPath = "/Users/ms/Documents/MS/Projects/examples/hbase-client-unsecure/src/main/java/com/ms/resources/hbase-site-peer.xml"
}
